* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  color: white;
  font-weight: 700;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

h5 {
  font-family: "Alata", sans-serif;
  color: white;
  padding-right: 15%;
}

p {
  color: #50514f;
  margin: 5% 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #50514f;
  font-weight: 700;
}

.btn-scroll {
  display: none;
}

/* navbar */
.nav-wrapper {
  background-color: #d84633;
  border-bottom: 1px solid #d1d0ca;
}

nav ul a {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

/* home */
.home {
  background-color: #d84633;
  height: 100vh;
}

.home-center {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home-btns .btn {
  background-color: #f09271;
  margin: 2% 0;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .home-btns {
    justify-content: start;
    margin-top: 10%;
  }

  .home-content h1 {
    margin-top: 20%;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 473px) and (min-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

/* main content */
.title-angela,
.title-chimamanda,
.title-gaby {
  font-size: 3.3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 2%;
}

.title-angela {color: #d84633;}
.title-gaby {color: #294c60;}
.title-chimamanda {color: #c89b4e;}

.presentation-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.card-img {
  width: 100%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  height: auto;
}

.btn-start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  height: 50px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0px 2px 2px 2px rgba(126, 126, 126, 0.192);
  border-radius: 2%;
}
.btn-start:hover {
  opacity: 0.9;
}

.angela-btn-start,
.chimamanda-btn-start,
.gaby-btn-start {
  font-size: 1.5rem;
}

.materials-item {
  display: flex;
  flex-direction: column;
}

.materials-item h4,
.materials-item p {
  text-align: center;
  color: #50514f;
}

.materials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-bottom: 60px;
  box-shadow: 7px 10px 8px rgba(0, 0, 0, 0.25);
  padding: 15%;
  width: 100%;
}

.angela-btn,
.chimamanda-btn,
.gaby-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  height: 50px;
  width: 220px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0px 2px 2px 2px rgba(126, 126, 126, 0.192);
  border-radius: 2%;
}
.angela-btn:hover,
.chimamanda-btn:hover,
.gaby-btn:hover {
  opacity: 0.9;
}

.angela-btn, .angela-btn-start {background-color: #d84633;}
.i-angela {color: #d84633; font-size: 68px;}

.gaby-btn, .gaby-btn-start {background-color: #294c60;}
.i-gaby {color: #294c60; font-size: 68px;}

.chimamanda-btn, .chimamanda-btn-start {background-color: #c89b4e;}
.i-chimamanda {color: #c89b4e;font-size: 68px;}

.color-card-text {
  font-size: 1.3rem;
}

.material-description {
  font-size: 1.2rem;
}

@media (max-width: 873px) and (min-width: 850px) {
  .material-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 1096px) and (min-width: 1069px) {
  .material-description {
    font-size: 1.1rem;
  }
}

@media (min-width: 1672px) {
  .material-description {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {

  .card-content a {color: #fff;}

  .color-card-angela,
  .color-card-gaby,
  .color-card-chimamanda {
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 3% 4%;
  }

  .color-card-angela {background-color: #d84633;}

  .color-card-gaby {background-color: #294c60;}

  .color-card-chimamanda {background-color: #c89b4e;}

  .color-card-text {
    color: white;
    font-size: 1.5rem;
  }
}

/* about */
.about {
  background-color: #d84633;
  padding-top: 5%;
  padding-bottom: 5%;
}

.project-title,
.women-title,
.contact-title {
  color: white;
  padding-left: 5%;
}

.project-title,
.women-title {
  margin-bottom: 5%;
}

.contact-title {
  margin-bottom: 3%;
}

.project-text,
.women-text,
.contact-text {
  background-color: white;
  padding: 1% 5%;
  border-radius: 2%;
  box-shadow: 0px -10px 0px #f09271;
}

/* footer */
footer {
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  background-color: #f09271;
}
